<section class="episodes container-a">
    <div class=" episodes-left block">
        <img src="{{ podcast.image }}" alt="{{ podcast.title }}">
        <article class="podcast-info">
            <div class="podcast-info-categories">{{ podcast.categories[0].name }}</div>
            <h1>{{ podcast.title }}</h1>
            <h2>Presented by {{ podcast.author.name }}</h2>
            <p>{{ podcast.description }}</p>
            <a href="{{ podcast.website }}" target="_blank"><i class="fa-solid fa-globe"></i></a>
            <a href="https://podcasts.apple.com/podcast/id{{ podcast.itunes_id }}" target="_blank"><i class="fa-brands fa-apple"></i></a>
        </article>
        <div class="average"><p>Rating</p><div class="average-rating"><strong class="{% if -1 < average <= 3 %} rating-highlight-bad {% elif 3 < average <= 6 %} rating-highlight-mid {% elif 6 < average <= 10 %} rating-highlight-good {% endif %}">{% if average == -1 %}?{% else %}{{average}}{% endif %}</strong>/10</div></div>
    </article>
    </div>
    <form method="post" class="add-review block""></a>
        {{ new_review.hidden_tag() }}
        <div class="inner-add-review">

            <div class="test7">
                <div class="write-review-xl"><i class="fa-solid fa-pen"></i>{{ session['user_name']}}'s Review<a href="{{ url_for('episode_bp.episodes', podcast_id = podcast_id) }}" class="test8 "></div><i class="fa-solid fa-xmark"></i></a>
            </div>
            <div class="teitei">
                <p>Rating:</p>
                {% for subfield in new_review.rating %}
                    {{ subfield }}{{ subfield.label(class_="rating-label", tabindex_="0")}}
                {% endfor %}
            </div>
            {{new_review.comment(class_="comment-input", placeholder_="Add a comment...")}}
        
         {{new_review.submit(class_="button-b test5")}}
        </div>
    </form>
</section>
