<section class="episodes container-a">
    <div class=" episodes-left block">
        <img src="{{ podcast.image }}" alt="{{ podcast.title }}">
        <article class="podcast-info">
            <div class="podcast-info-categories">{{ podcast.categories[0].name }}</div>
            <h1>{{ podcast.title }}</h1>
            <h2>Presented by {{ podcast.author.name }}</h2>
            <p>{{ podcast.description }}</p>
            <a href="{{ podcast.website }}" target="_blank"><i class="fa-solid fa-globe"></i></a>
            <a href="https://podcasts.apple.com/podcast/id{{ podcast.itunes_id }}" target="_blank"><i class="fa-brands fa-apple"></i></a>
        </article>
    </article>
    </div>
    <section class=" container-b">
        {% if episodes %}
            <div class="scrollbox">
                {% for episode in episodes %}
                    {% if episode.podcast_id == podcast.id %}
                        <article class="episode block block-hover">
                            <div class="episode-title">{{ episode.title }}</div>
                            <audio controls style="width: 260px;">
                                <source src="{{ episode.audio_link }}" type="audio/mpeg">
                            </audio>
                            {% if 'user_name' in session %}
                                <form method="post">
                                    {{ playlist_form.hidden_tag() }}
                                    <input type="hidden" name="episode_id" value="{{ episode.id }}">
                                    {% if episode in playlist_episodes %}
                                        <input type="hidden" name="action" value = "REMOVE">
                                        <input type="submit" name = "submit" value="-" class ="add-to-playlist">
                                    {% else %}
                                        <input type="hidden" name="action" value="ADD">
                                        <input type="submit" name="submit" value="+" class="add-to-playlist">
                                    {% endif %}
                                </form>
                            {% endif %}
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="scrollbox">
            <a href="{{ url_for('review_bp.review', podcast_id = podcast_id) }}">
                <article class="review block block-hover">
                    <div class="write-review"><i class="fa-solid fa-pen"></i>Write a Review</div>
                </article>
            </a>
            {% if reviews %}
            {% for review in reviews|reverse %}
                <article class="review block">
                    <div class="inner-review">
                        <div class="reviewer">{{ review.reviewer.username}}</div>
                        <div class="rating">
                            <strong class="{% if review.rating <= 3 %} rating-highlight-bad {% elif review.rating <= 6%} rating-highlight-mid {% else %} rating-highlight-good {% endif %}">{{review.rating}}</strong>/10
                        </div>
                        <div class="comment">{{ review.comment }}</div>
                    </div>
                </article>
            {% endfor %}
            {% endif %}
        </div>
    </section>
</section>