<section class="episodes container-a">
    <div class=" episodes-left block">
        <img src="{{ podcast.image }}" alt="{{ podcast.title }}">
        <article class="podcast-info">
            <div class="podcast-info-categories">
                {% for category in podcast.categories %}
                {{ category.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
            <h1>{{ podcast.title }}</h1>
            <h2>Presented by {{ podcast.author.name }}</h2>
            <p>{{ podcast.description }}</p>
            <a href="{{ podcast.website }}" target="_blank"><i class="fa-solid fa-globe"></i></a>
            <a href="https://podcasts.apple.com/podcast/id{{ podcast.itunes_id }}" target="_blank"><i class="fa-brands fa-apple"></i></a>
        </article>
        <div class="average"><p>Rating</p><div class="average-rating"><strong class="{% if -1 < average <= 3 %} rating-highlight-bad {% elif 3 < average <= 6 %} rating-highlight-mid {% elif 6 < average <= 10 %} rating-highlight-good {% endif %}">{% if average == -1 %}?{% else %}{{average}}{% endif %}</strong>/10</div></div>
    </article>
    </div>
    <section class=" container-b">
        {% if episodes %}
            <div class="scrollbox">
                {% for episode in episodes %}
                    {% if episode.podcast.id == podcast.id %}
                        <article class="episode block block-hover">
                            <div class="episode-left">
                                <div class="episode-title">{{ episode.title }}</div>
                                <audio controls>
                                    <source src="{{ episode.audio }}" type="audio/mpeg">
                                </audio>
                            </div>
                            <div class="episode-side">
                                {% if 'user_name' in session %}
                                    <form method="post">
                                        {{ playlist_form.hidden_tag() }}
                                        <input type="hidden" name="episode_id" value="{{ episode.id }}">
                                        {% if episode in playlist_episodes %}
                                            <input type="hidden" name="action" value = "REMOVE">
                                            <input type="submit" name = "submit" value="−" class ="add-to-playlist">
                                        {% else %}
                                            <input type="hidden" name="action" value="ADD">
                                            <input type="submit" name="submit" value="+" class="add-to-playlist">
                                        {% endif %}
                                    </form>
                                {% endif %}
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="robx scrollbox">
            <a href="{{ url_for('review_bp.review', podcast_id = podcast_id) }}">
                <article class="review block block-hover">
                    <div class="write-review"><i class="fa-solid fa-pen"></i>Write a Review</div>
                </article>
            </a>
            {% if reviews %}
            {% for review in reviews|reverse %}
                <article class="review block">
                    <div class="inner-review">
                        <div class="reviewer">{{ review.reviewer.username}}</div>
                        <div class="rating">
                            <strong class="{% if review.rating <= 3 %} rating-highlight-bad {% elif review.rating <= 6%} rating-highlight-mid {% else %} rating-highlight-good {% endif %}">{{review.rating}}</strong>/10
                        </div>
                        <div class="comment">{{ review.comment }}</div>
                    </div>
                </article>
            {% endfor %}
            {% endif %}
        </div>
    </section>
</section>