/* ------------------------ Colours ------------------------  */

:root {
    --background: #15141e;
    --section: #27262e;
    --navbar-logo: #8c52ff;
    --navbar-logo-hover: aliceblue;
    --navbar-login-primary: aliceblue;
    --navbar-login-secondary: #8c52ff;
    --navbar-login-primary-hover: #8c52ff;
    --navbar-login-secondary-hover: aliceblue;
    --navbar-content: #595572;
    --navbar-content-hover: aliceblue;
    --text: aliceblue;
    --section-text: aliceblue;
    --logo: #8c52ff;
    --logo-hover: aliceblue;
    --highlight: #8c52ff;
    --highlight-hover: aliceblue;
    --podcast-hover: #8c52ff;
    --theme-name: aliceblue;
    --toggle-hover: aliceblue;
}

.lightMode {
    --background: #fbfbfb;
    --section: #8c52ff;
    --navbar-logo: aliceblue;
    --navbar-login-primary: #8c52ff;
    --navbar-login-secondary: aliceblue;
    --navbar-content: #cdb4ff;
    --text: #15141e;
    --logo-hover: #cdb4ff;
    --highlight-hover: #cdb4ff;
    --podcast-hover: #cdb4ff;
    --theme-name: #8c52ff;
    --toggle-hover: #cdb4ff;
}

/* ------------------------ General ------------------------  */

* {
    /* border: 1px solid white; */
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    font-family: "League Spartan", sans-serif;
    background-color: var(--background);
}

/* ------------------------ Layout ------------------------  */

.content_left {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text);
}

.container-a {
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-b {
    width: 99%;
    height: 95%;
    display: flex;
    flex-direction: row;
    margin: 0 1% 0 0;
}

.block {
    background-color: var(--section);
    color: var(--section-text);
    border-radius: 2rem;
}

.block-hover:hover {
    background-color: var(--podcast-hover);
    transition: 0.3s;
}

.scrollbox {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: var(--navbar-content) var(--section);
}

/* ------------------------ Textbox ------------------------  */

.textbox {
    margin: 10vw;
}

.textbox h1 {
    font-weight: 600;
    font-size: 4rem;
    margin: 0 0 0.5rem;
}

.textbox p {
    font-size: 1.25rem;
    white-space: pre-line;
}

/* ------------------------ Miscellaneous ------------------------  */

a {
    color: inherit;
}

button {
    border: 0;
    font-family: "League Spartan", sans-serif;
    cursor: pointer;
}

strong {
    font-weight: 500;
}

.button-a {
    border-radius: 2rem;
    background-color: var(--navbar-login-secondary);
    color: var(--navbar-login-primary);
    font-weight: 600;
}

.button-a:hover {
    transition-duration: 0.3s;
    color: var(--navbar-login-primary-hover);
    background-color: var(--navbar-login-secondary-hover);
    font-weight: 600;
}

.button-b {
    background-color: var(--navbar-content);
    color: var(--navbar-login-primary);
    border-radius: 2rem;
}

.button-b:hover {
    background-color: var(--navbar-content-hover);
    color: var(--logo);
    transition: 0.3s;
}

.highlight {
    color: var(--highlight);
}

.highlight:hover {
    color: var(--highlight-hover);
    transition: 0.3s;
}

.logo {
    font-weight: 700;
}

/* ------------------------ Navbar ------------------------  */

nav {
    width: 92%;
}

nav h1 {
    font-size: 3vw;
    margin: 2vw 2vw 0.5vw;
    color: var(--navbar-logo);
}

nav h1:hover {
    color: var(--navbar-logo-hover);
    transition: 0.3s;
}

.author-upis {
    font-size: 0.8vw;
}

nav button {
    font-size: 1vw;
    padding: .7vw 3vw .7vw;
    margin: 1vw;
}

nav ul {
    height: 60%;
    width: 60%;
}

nav li {
    font-size: 2vw;
    font-weight: 600;
    margin: 1vw 0 1vw;
    color: var(--navbar-content);
}

nav li:hover {
    color: var(--navbar-content-hover);
    transition-duration: 0.3s;
}

nav footer {
    color: var(--navbar-content);
    margin: auto 0 1rem;
}

/* ------------------------ Search ------------------------  */

.search-bar-outer {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.search-bar-inner {
    width: 90%;
    display: flex;
    align-items: center;
    border: 1px var(--highlight) solid;
    border-radius: 1rem;
}

.search-icon {
    width: 1rem;
    height: 1rem;
    margin: 0 1rem 0 1rem;
}

.search {
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 1rem;
    color: var(--text);
    background-color: inherit;
}

.search:focus {
    outline: none;
}

.search-bar-dropdown{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    background-color: var(--navbar-content);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
    cursor: pointer;
}


.search-bar-dropdown ul{
    position: absolute;
    width: 100%;
    top: 110%;
    left: 0;
    padding: 1rem;
    background-color: var(--navbar-content);
    border-radius: 4px;
    visibility: hidden;
    transition:  0.3s;

}

.search-bar-dropdown ul li{
    padding: 0.5rem;
    left: 0;
    border-radius: 1rem;
}

.search-bar-dropdown:hover ul{
    visibility: visible;
    transition: 0.3s;
}

.search-bar-dropdown ul li:hover{
    color: var(--highlight);
    transition: 0.3s;
}

/* ------------------------ Pagination ------------------------  */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0;
    font-size: 1.75rem;
    color: var(--theme-name);

}

.pagination a.active {
    color: var(--highlight);
    font-size: 2.5rem;
    font-weight: bold;
}

.pagination a:hover {
    color: var(--highlight);
    font-weight: bold;
    transition: 0.3s;
}

.pagination li {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------ Podcasts ------------------------  */

.podcasts {
    width: 98%;
}

.podcast {
    border-radius: 1rem;
    height: 8.5rem;
    display: flex;
    margin: 0 1% 2rem 0;
    width: 99%;
}

.podcast img {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 1rem;
}

.podcast-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 1vw;
    border-radius: 1rem;
}

.podcast-title {
    font-size: 1.75rem;
    font-weight: 700;
}

.podcast-categories {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 0.1rem;
}

.podcast-authors {
    font-size: 1rem;
    font-weight: 400;
}

/* ------------------------ Episodes ------------------------  */

.episodes-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 28vw;
    align-items: center;
}

.episodes-button-shell {
    width: 25vw;
    margin: 2rem 0 0;
}

.episodes-left button {
    font-size: 2rem;
    width: 5vw;
    height: 3rem;
}

.episodes-left img {
    width: 25vw;
    height: 25vw;
    border-radius: 1rem;
}

.episodes-left img {
    width: 25vw;
    height: 25vw;
    border-radius: 1rem;
    margin: 2rem 2rem 0.5rem;
}

.podcast-info {
    width: 25vw;
}

.podcast-info h1 {
    max-width: 25vw;
    font-size: 2vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.podcast-info-categories {
    font-size: 1vw;
    color: var(--navbar-content);
    margin: 0.5rem 0;
    font-weight: 500;
}

.podcast-info p {
    font-style: italic;
    font-size: 0.85vw;
    margin: 0.25rem 0 1rem;
    max-height: 16vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

.podcast-info i {
    font-size: 2rem;
    margin: 0 2rem 0 0.2rem;
}

.podcast-info a {
    color: var(--navbar-content);
    transition: 0.3s;
}

.podcast-info a:hover {
    color: var(--navbar-content-hover);
}

.episode {
    height: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 1% 1.5rem 1%;
    width: 98%;
}

.episode-title {
    margin: 0 1rem;
    font-size: 1.25rem;
}

/* ------------------------ Subscriptions ------------------------  */

/* .subscriptions {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    max-height: 90%;
    height: 90%;
    overflow-y: scroll;
}

.sub_img {
    width: 100%;
    height: auto;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.sub_box {
    width: 21.5rem;
    height: 550px;
    margin: 1rem;
    border: 3px var(--highlight) solid;
    border-radius: 20px;
} */

/* ------------------------ Settings ------------------------  */

.settings {
    width: 95%;
}

.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.setting-category {
    width: 95%;
}

.setting h1 {
    font-weight: 500;
    margin: 0 0 0.5rem;
}

.setting h2 {
    font-weight: 400;
}

.theme_toggle {
    font-size: 1vw;
    padding: 1rem 0;
    width: 95%;
    margin: 0 0 2rem;
    outline: none;
    border: none;
    cursor: pointer;
}