:root {
    --background: #15141e;
    --sections: #27262e;
    --navbar-logo: #8c52ff;
    --navbar-logo-hover: aliceblue;
    --navbar-login-primary: aliceblue;
    --navbar-login-secondary: #8c52ff;
    --navbar-login-primary-hover: #8c52ff;
    --navbar-login-secondary-hover: aliceblue;
    --navbar-content: #595572;
    --navbar-content-hover: aliceblue;
    --text: aliceblue;
    --section-text: aliceblue;
    --logo: #8c52ff;
    --logo-hover: aliceblue;
    --highlight: #8c52ff;
    --highlight-hover: aliceblue;
    --podcast-hover: #8c52ff;
    --theme-name: aliceblue;
    --toggle-hover: aliceblue;
}

.lightMode {
    --background: #fbfbfb;
    --sections: #8c52ff;
    --navbar-logo: aliceblue;
    --navbar-login-primary: #8c52ff;
    --navbar-login-secondary: aliceblue;
    --navbar-content: #cdb4ff;
    --text: #15141e;
    --logo-hover: #cdb4ff;
    --highlight-hover: #cdb4ff;
    --podcast-hover: #cdb4ff;
    --theme-name: #8c52ff;
    --toggle-hover: #cdb4ff;
}

/* General styles */

* {
    /* border: 1px solid white; */
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

a:visited {
    color: inherit;
}

body {
    background-color: var(--background);
    font-family: "League Spartan", sans-serif;
    display: flex;
    flex-direction: row;
}

main {
    color: var(--text);
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.content_left {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
}

.container-b {
    display: flex;
    flex-direction: row;
    height: 95%;
}

.section {
    background-color: var(--sections);
    color: var(--section-text);
    border-radius: 2rem;
}

.section-hover:hover {
    background-color: var(--podcast-hover);
    transition: 0.3s;
}

/* ---------------------Navbar styles------------------------------- */

.navbar {
    width: 92%;
}

.navbar_login {
    font-size: 1vw;
    padding: .7vw 3vw .7vw;
    margin: 1vw;
}


.navbar_content {
    height: 60%;
    width: 60%;
}

.navbar_link {
    font-size: 2vw;
    font-weight: 600;
    margin: 1vw 0 1vw;
    transition: 0.1s;
}

.navbar_link a {
    font-size: 2vw;
    font-weight: 600;
    margin: 1vw 0 1vw;
    color: var(--navbar-content);
    transition: 0.1s;
}

.navbar_link a:hover {
    color: var(--navbar-content-hover);
    transition-duration: 0.3s;
}

.navbar_logo {
    font-size: 3vw;
    color: var(--navbar-logo);
    margin: 2vw 2vw 0.5vw;
}

.navbar_logo:hover {
    color: var(--navbar-logo-hover);
    transition: 0.3s;
}

.nav-footer {
    color: var(--navbar-content);
    margin: auto 0 1rem;
    bottom: 0;
    font-size: 0.8vw;
    text-align: center;
    word-wrap: break-word;
}

.nav-footer a {
    color: inherit;
}

.nav-header {
    color: var(--highlight-hover);
    margin: 0;
    padding: 0;
    top: 0;
    font-size: 0.8vw;
    text-align: center;
    word-wrap: break-word;
}

/* Homepage styles */

.home_synopsis {
    margin: 10vw;
}

.home_synopsis h1 {
    font-weight: 500;
    font-size: 3vw;
    margin: 0 0 1rem;
}

.home_synopsis p {
    font-size: 1vw;
    white-space: pre-line;
}

/* -----------------------------Miscellaneous styles----------------------------- */

.highlight {
    color: var(--highlight);
    font-weight: 500;
}

.highlight :hover {
    color: var(--highlight-hover);
    transition: 0.3s;
}

.logo {
    font-weight: 700;
    color: var(--logo);
}

.logo:hover {
    color: var(--logo-hover);
    transition: 0.3s;
}

.podcasts {
    width: 98%;
}

.podcast {
    border-radius: 1rem;
    height: 8.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1% 2rem 0;
    width: 99%;
}

.podcast a {
    display: flex;
    text-decoration: none;
    color: inherit;
}

.podcast_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 68.55vw;
    margin: 0 0 0 1vw;
    border-radius: 1rem;
}

.podcast img {
    border-radius: 1rem;
    width: 8.5rem;
    height: 8.5rem;
    padding: 0;
    margin: 0;
    border: 0;
}

.podcast_tags {
    font-weight: 600;
    margin: 0 0 0.2em;
}

.podcast-title {
    max-width: 65vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-name);
    margin: 1rem 0 0;
}

.pagination a {
    font-size: 1.75rem;
    color: inherit;
    margin: 0 1vw;
    transition: ease-in-out 0.15s;


}

.pagination a.active {
    color: var(--highlight);
    font-weight: bold;
    font-size: 2.5rem;

}

.pagination a:hover {
    color: var(--highlight);
    font-weight: bold;
}

.page {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme_toggle {
    font-size: 1vw;
    padding: 1rem 0;
    width: 95%;
    margin: 0 0 2rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.button-a {
    border-radius: 3rem;
    background-color: var(--navbar-login-secondary);
    color: var(--navbar-login-primary);
    font-weight: 600;
}

.button-a:hover {
    transition-duration: 0.3s;
    color: var(--navbar-login-primary-hover);
    background-color: var(--navbar-login-secondary-hover);
    font-weight: 600;
}


/*----------Search bar-------------------------------------*/
.search-bar-inner {
    display: flex;
    width: 50%;
    border: 1px var(--highlight) solid;
    align-items: center;
    border-radius: 1rem;
}

.search-bar-outer {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.search-icon {
    height: 1rem;
    width: 1rem;
    margin: 0 1rem 0 1rem;
    padding: 0;
}

.search {
    border: none;
    height: 2.5rem;
    background-color: var(--background);
    color: var(--text);
    width: 100%;
    border-radius: 1rem;
}

.search:focus {
    outline: none;
}

/*------------------subscriptions page-----------------------------*/
.subscriptions {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    max-height: 90%;
    height: 90%;
    overflow-y: scroll;
}

.sub_img {
    width: 100%;
    height: auto;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.sub_box {
    width: 21.5rem;
    height: 550px;
    margin: 1rem;
    border: 3px var(--highlight) solid;
    border-radius: 20px;
}

.settings {
    width: 95%;
}

.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.setting-category {
    width: 95%;
}

.setting h1 {
    font-weight: 500;
    margin: 0 0 0.5rem;
}

.setting h2 {
    font-weight: 400;
}

/*-------------------------EPISODES PAGE-------------------------------------*/


.description {
    width: 25vw;
}

.episode_list {
    display: flex;
    flex-direction: column;
    margin: 0 1vw;
    width: 50vw;
}

.episode_title {
    margin: 0 1vw 0;
    font-size: 1vw;
    font-weight: 500;

}

.podcast_episodes {
    height: 12.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 0 1.5rem;
    width: 100%;
}

.episode {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.episode_info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 28vw;
    align-items: center;
}

.episode_info img {
    width: 25vw;
    height: 25vw;
    border-radius: 1rem;
    margin: 1vw 2rem 0.5rem;
}

.episode_info h1 {
    font-size: 2vw;
    margin: 0 0 0.5rem;
}

.episode_page_author {
    font-size: 1vw;
    font-weight: 600;
    margin: 0 0 0.5rem;
}

.episode_page_categories {
    font-size: 1vw;
    margin: 1rem 0 0.7rem;
    color: var(--navbar-content);
}

.episode_page_synopsis {
    font-style: italic;
    font-size: 0.8vw;
    margin: 0 0 1rem 0;
    max-height: 16vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description h1 {
    max-width: 25vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.description i {
    font-size: 2rem;
    margin: 0 2rem 0 0.2rem;
}

.description a {
    color: var(--navbar-content);
    transition: 0.3s;
}

.description a:hover {
    color: var(--navbar-content-hover);
}

.footer {
    margin-top: auto;

}

.back {
    margin: 2vw auto 0 1.5vw;
    background-color: var(--navbar-content);
    color: var(--navbar-login-primary);
    font-size: 2rem;
    width: 5vw;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.back:hover {
    background-color: var(--navbar-content-hover);
    color: var(--logo);
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--navbar-content) var(--sections);
}

.align-left {
    width: 95%;
    margin: 1rem;
}