<div class="home_synopsis">
    <h1>Welcome to <a href="home"><span class="logo">mixcast.</span></a></h1>
    <p>CS235 Podcast Library Web App built with Flask by Kumanan (kpir887), Drew (dpor963) and Justin (ttu457).
        Check out the <a href="podcasts" class="highlight"><span class="highlight">Podcasts</span></a> page for a list of all available podcasts.
        
        <a href="login" class="highlight"><span class="highlight">Log in</span></a> or <a href="register" class="highlight"><span class="highlight">Create an Account</span></a>.
    </p>
</div>  
