<section class="textbox">
    <h1>{% if 'user_name' in session %} Hello, {{ session['user_name'] }}. {% endif %}</h1>
    <h1>Welcome to <a href="home" class="highlight logo">mixcast.</a></h1>
    <p>CS235 Podcast Library Web App built with Flask by Kumanan (kpir887), Drew (dpor963) and Justin (ttu457).
        Check out the <a href="podcasts" class="highlight"><strong>Podcasts</strong></a> page for a list of all available podcasts.

        <a href="login" class="highlight"><strong>Log in</strong></a> or <a href="register" class="highlight"><strong>Create an Account</strong></a>.
    </p>
</section>  
