<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <title>mixcast</title>
</head>
<body>
    <main>
        <div class="content_left">
            <div class="navbar">
                <a href="home.html">
                    <h1 class="logo navbar_logo">mixcast.</h1>
                </a>
                <a href="404.html">
                    <div class="navbar_login">Log in</div>
                </a>
                <div class="navbar_content">
                    <ul>
                        <li class="navbar_link"><a href="home.html">Home</a></li>
                        <li class="navbar_link"><a href="explore.html">Explore</a></li>
                        <li class="navbar_link"><a href="404.html">Subscriptions</a></li>
                        <li class="navbar_link"><a href="404.html">Playlists</a></li>
                        <li class="navbar_link"><a href="404.html">Reviews</a></li>
                        <li class="navbar_link"><a href="404.html">Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content_right">
            <div></div>
            <div class="explore">
                <div class="explore_header">
                    <h1>Explore</h1>
                </div>
                <div class="podcast">
                    <img src="JustThe2OfUs.png" alt="">
                    <h1>wip ッ</h1>
                </div>
                <div class="podcast">
                    <img src="JustThe2OfUs.png" alt="">
                    <h1>wip ッ</h1>
                </div>
                <div class="podcast">
                    <img src="JustThe2OfUs.png" alt="">
                    <h1>wip ッ</h1>
                </div>
                <div class="podcast">
                    <img src="JustThe2OfUs.png" alt="">
                    <h1>wip ッ</h1>
                </div>
                <div class="podcast">
                    <img src="JustThe2OfUs.png" alt="">
                    <h1>wip ッ</h1>
                </div>
                <div class="podcast">
                    <img src="JustThe2OfUs.png" alt="">
                    <h1>wip ッ</h1>
                </div>
            </div>
        </div>
    </main>
</body>
</html> 