<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <title>mixcast</title>
</head>
<body>
    <main>
        <div class="content_left">
            <div class="navbar">
                <a href="">
                    <h1 class="logo navbar_logo">mixcast.</h1>
                </a>
                <a href="">
                    <div class="navbar_login">Log in</div>
                </a>
                <div class="navbar_content">
                    <ul>
                        <li class="navbar_link"><a href="">Home</a></li>
                        <li class="navbar_link"><a href="">Explore</a></li>
                        <li class="navbar_link"><a href="">Subscriptions</a></li>
                        <li class="navbar_link"><a href="">My Playlists</a></li>
                        <li class="navbar_link"><a href="">My Reviews</a></li>
                        <li class="navbar_link"><a href="">Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content_right">
            <div class="home_synopsis">
                <h1>Welcome to <a href=""><span class="logo">mixcast.</span></a></h1>
                <p>CS235 Podcast Library Web App built with Flask by Kumanan (kpir887), Drew (dpor963) and Justin (ttu457).
                    Check out the Explore page for a list of all available podcasts.
                   
                    <a href=""><span class="highlight">Log in</span></a> or <a href=""><span class="highlight">Create an Account</span></a>.
                </p>
            </div>  
        </div>
    </main>
</body>
</html> 