<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <title>mixcast</title>
</head>
<body>
    <header class="content_left">
        <nav class=" container-a block">
            <a href="home">
                <h1 class="logo">mixcast.</h1>
            </a>
            <aside class="author-upis">CS235 kpir887 |  dpor963 | ttu457</aside>
            {% if 'user_name' in session %}
            <a href="logout">
                <button class="button-a">Log out</button>
            </a>
            {% endif %}
            {% if 'user_name' not in session %}
            <a href="login">
                <button class="button-a">Log in</button>
            </a>
            {% endif %}
            {% set navbar_content = [('home', 'Home'), ('podcasts', 'Podcasts'), ('subscriptions', 'Subscriptions'), ('playlists', 'Playlist'), ('settings', 'Settings')]-%}
            <ul>
                {% for href, name in navbar_content %}
                <a href="{{href}}">
                    <li>{{name}}</li>
                </a>
                {% endfor %}
            </ul>
            <footer class="author-upis">
                CS235 kpir887 |  dpor963 | ttu457
            </footer>
        </nav>
    </header>
    <main>
        {% include content_right %}
    </main>
    <script src="../static/script.js"></script>
    <script src="https://kit.fontawesome.com/f73110d242.js" crossorigin="anonymous"></script>
</body>
</html> 