<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <title>mixcast</title>
</head>
<body>
<main>
    <div class="content_left">
        <div class="navbar">
            <a href="home">
                <h1 class="navbar_logo">mixcast.</h1>
            </a>
            <div class="nav-header">
                CS235 kpir887 |  dpor963 | ttu457
            </div>
            <a href="login">
                <div class="navbar_login">Log in</div>
            </a>
            <div class="navbar_content">
                <ul>
                    <li class="navbar_link"><a href="home">Home</a></li>
                    <li class="navbar_link"><a href="podcasts">Podcasts</a></li>
                    <li class="navbar_link"><a href="subscriptions">Subscriptions</a></li>
                    <li class="navbar_link"><a href="playlists">Playlists</a></li>
                    <li class="navbar_link"><a href="settings">Settings</a></li>
                </ul>
            </div>
            <div class="nav-footer">
                CS235 kpir887 |  dpor963 | ttu457
            </div>
        </div>
    </div>
    <div class = content_right>
        <div class="subscriptions">
            <div class="page_header">
                <h1>Subscriptions</h1>
            </div>
            <div class="subscription">
                <div class="sub_box">
                    <img class="sub_img" src="http://is3.mzstatic.com/image/thumb/Music118/v4/b9/ed/86/b9ed8603-d94b-28c5-5f95-8b7061bf22fa/source/600x600bb.jpg">
                    <div class="podcast_content">
                        <h1 class="podcast_title">D-Hour Radio Network</h1>
                        <br>
                        <p class="podcast_tags">English,Society & Culture | Personal Journals</p>
                        <br>
                        <p class="podcast_authors">Presented by D Hour Radio Network</p>
                    </div>
                </div>

            </div>
            <div class="subscription">
                <div class="sub_box">
                    <img class="sub_img" src="http://is5.mzstatic.com/image/thumb/Music111/v4/49/c8/19/49c8190a-ca0f-f32c-c089-d7ae502d2cb8/source/600x600bb.jpg">
                    <div class="podcast_content">
                        <h1 class="podcast_title">Brian Denny Radio</h1>
                        <br>
                        <p class="podcast_tags">Professional | News & Politics | Sports & Recreation | Comedy</p>
                        <br>
                        <p class="podcast_authors">Presented by Brian Denny</p>
                    </div>
                </div>

            </div>
            <div class="subscription">
                <div class="sub_box">
                    <img class="sub_img" src="http://is3.mzstatic.com/image/thumb/Music71/v4/d6/7a/a2/d67aa202-4c97-70d3-e629-b830567cff78/source/600x600bb.jpg">
                    <div class="podcast_content">
                        <h1 class="podcast_title">Tallin Messages</h1>
                        <br>
                        <p class="podcast_tags">Religion & Spirituality</p>
                        <br>
                        <p class="podcast_authors">Presented by Tallin Country Church</p>
                    </div>
                </div>

            </div>
        <div class="subscription">
            <div class="sub_box">
                <img class="sub_img" src="http://is2.mzstatic.com/image/thumb/Music62/v4/a5/44/ce/a544ce1f-3250-7147-1e8a-6316a161900c/source/600x600bb.jpg">
                <div class="podcast_content">
                    <h1 class="podcast_title">Onde Road - Radio Popolare</h1>
                    <br>
                    <p class="podcast_tags">Italian,Society & Culture</p>
                    <br>
                    <p class="podcast_authors">Presented by Radio Popolare</p>
                </div>
            </div>

        </div>
        </div>
    </div>

</main>
<script src="../static/script.js"></script>
</body>
</html>