<section class="podcasts container-a">
    <form class="search-bar-outer" action = "/podcasts" method = "get"></div>
        <div class="search-bar-inner">
            <img class="search-icon" src="https://img.icons8.com/?size=100&id=7695&format=png&color=7950F2" />
            <input class="search" id = "placeholder" placeholder="Search For Podcasts" type="text" name = "q">
        </div>
        <div class="teitei2">
            <input type="radio" id="title" name="p" value="title" class="hehe2">
            <label for="title" class="search-label" tabindex="0">Title</label><br>
            <input type="radio" id="author" name="p" value="title" class="hehe2">
            <label for="author" class="search-label" tabindex="0">Author</label><br>
            <input type="radio" id="category" name="p" value="title" class="hehe2">
            <label for="category" class="search-label" tabindex="0">Category</label><br>
        </div>
    </form>
    <article class="scrollbox">
        {% for podcast in podcasts %}
            <a href="{{ url_for('episode_bp.episodes', podcast_id = podcast.id) }}">
                <article class="podcast block block-hover">
                    <img src="{{ podcast.image }}" alt="Thumbnail for {{ podcast.title }}">
                    <div class="podcast-content">
                        <div class="podcast-title">{{ podcast.title }}</div>
                        <!-- categories missing -->
                        <div class="podcast-authors">Presented by {{ podcast.author.name }}</div>
                    </div>
                    {% if 'user_name' in session %}
                        {% set add_to_playlist = namespace(value=false) %}
                        {% for episode in list_of_episodes -%}
                            {% if episode.podcast_id == podcast.id %}
                                {% if episode not in playlist_episodes %}
                                    {% set add_to_playlist.value = true %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <div class="episode-side">
                            <form method="post">
                                {{ playlist_form.hidden_tag() }}
                                <input type="hidden" name="podcast_id" value="{{ podcast.id }}">
                                {% if add_to_playlist.value %}
                                    <input type="hidden" name="action" value="ADD">
                                    <input type="submit" name="submit" value="+" class="add-to-playlist">
                                {% else %}
                                    <input type="hidden" name="action" value="REMOVE">
                                    <input type="submit" name="submit" value="−" class="add-to-playlist">
                                {% endif %}
                            </form>
                        </div>
                    {% endif %}

                </article>
            </a>
        {% endfor %}
        {% if max_pages > 1 %}
            <ul class="pagination">
                <li>
                    <a href="?{% if request.args.get('q') %}q={{ request.args.get('q') }}{% endif %}&{% if request.args.get('p') %}p={{ request.args.get('p') }}{% endif %}&page=1">«</a>
                </li>
                {% for i in range(start, stop) %}
                    <li>
                        <a class="{{ 'active' if i == page }}" href="?{% if request.args.get('q') %}q={{ request.args.get('q') }}{% endif %}&{% if request.args.get('p') %}p={{ request.args.get('p') }}{% endif %}&page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="?{% if request.args.get('q') %}q={{ request.args.get('q') }}{% endif %}&{% if request.args.get('p') %}p={{ request.args.get('p') }}{% endif %}&page={{ max_pages }}">»</a>
                </li>
            </ul>


        {% endif %}
    </article>
</section>

