<div class="explore">
    <div class="page_header">
        <h1>Podcasts</h1>
    </div>
    <div class="search-bar">
        <img class="search-icon" src="https://img.icons8.com/?size=100&id=7695&format=png&color=7950F2" />
        <input class="search" placeholder="Search For Podcasts" type="text" >
    </div>
    {% for i in range(6) %}
    <div class="podcast">
        <img src="../static/JustThe2OfUs.png" alt="">
        <div class="podcast_content">
            <h1 class="podcast_title">Just the Two of Us</h1>
            <p class="podcast_tags">Education, Sports</p>
            <p class="podcast_authors">Presented by Bill Withers, Grover Washington, Jr.</p>
        </div>
    </div>
    {% endfor %}
</div>
