<div class="explore">
    <div class="page_header">
        <h1>Podcasts</h1>
    </div>
    <div class="search-bar">
        <img class="search-icon" src="https://img.icons8.com/?size=100&id=7695&format=png&color=7950F2" />
        <input class="search" placeholder="Search For Podcasts" type="text" >
    </div>
    {% for podcast in podcasts %}

    <div class="podcast">
        <a class="podcast_link" href="{{ url_for('episode_bp.episodes', podcast_id = podcast.id) }}">
            <img src="{{ podcast.image }}" alt="">
            <div class="podcast_content">
                <h1 class="podcast_title">{{ podcast.title }}</h1>
                <p class="podcast_tags">{{ podcast.categories[0].name }}</p>
                <p class="podcast_authors">Presented by {{ podcast.author.name }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
    <div class="pagination">
        <a href="?page={{ page - 1 if page > 1 else 1}} ">&laquo;</a>
        {% for i in range(start, stop) %}
            <a href="?page={{i}}">{{i}}</a>
        {% endfor %}
        <a href="?page={{ page + 1 if page < 167 else 167 }}">&raquo;</a>
      </div>
</div>
